<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <clouds>
    <org.jenkinsci.plugins.mesos.MesosCloud plugin="mesos@0.6.0">
      <name>MesosCloud</name>
      <nativeLibraryPath>/opt/mesosphere/lib/libmesos.so</nativeLibraryPath>
      <master>zk://master.mesos:2181/mesos</master>
      <description></description>
      <frameworkName>Jenkins Scheduler</frameworkName>
      <slaveAttributes>
        <nullObject>false</nullObject>
        <properties class="org.apache.commons.collections.map.ListOrderedMap" serialization="custom">
          <unserializable-parents/>
          <org.apache.commons.collections.map.ListOrderedMap>
            <default>
              <insertOrder>
                <string>clusterType</string>
              </insertOrder>
            </default>
            <map>
              <entry>
                <string>clusterType</string>
                <string>jenkinsSlave2</string>
              </entry>
            </map>
          </org.apache.commons.collections.map.ListOrderedMap>
        </properties>
      </slaveAttributes>
      <checkpoint>true</checkpoint>
      <dockerEnabled>false</dockerEnabled>
      <slaveCpus>0.1</slaveCpus>
      <slaveMem>512</slaveMem>
      <executorCpus>0.1</executorCpus>
      <maxExecutors>10</maxExecutors>
      <executorMem>128</executorMem>
      <idleTerminationMinutes>3</idleTerminationMinutes>
      <labelString>mesos</labelString>
    </org.jenkinsci.plugins.mesos.MesosCloud>
  </clouds>
</hudson>